[submodule "lib/third-party/discord.py"]
	path = lib/third-party/discord.py
	url = https://github.com/Rapptz/discord.py.git
[submodule "lib/third-party/aiohttp"]
	path = lib/third-party/aiohttp
	url = https://github.com/aio-libs/aiohttp.git
[submodule "lib/third-party/websockets"]
	path = lib/third-party/websockets
	url = https://github.com/aaugustin/websockets.git
[submodule "lib/third-party/async-timeout"]
	path = lib/third-party/async-timeout
	url = https://github.com/aio-libs/async-timeout.git
[submodule "lib/third-party/multidict"]
	path = lib/third-party/multidict
	url = https://github.com/aio-libs/multidict.git
[submodule "lib/third-party/yarl"]
	path = lib/third-party/yarl
	url = https://github.com/aio-libs/yarl.git
[submodule "lib/third-party/websocket-client"]
	path = lib/third-party/websocket-client
	url = https://github.com/websocket-client/websocket-client
[submodule "lib/third-party/python-slackclient"]
	path = lib/third-party/python-slackclient
	url = https://github.com/slackapi/python-slackclient
