[submodule "lib/third-party/requests"]
	path = lib/third-party/requests
	url = git://github.com/kennethreitz/requests.git
[submodule "lib/third-party/websocket-client"]
	path = lib/third-party/websocket-client
	url = git@github.com:websocket-client/websocket-client.git
