# -*- coding: utf-8 -*-
# vim: set ts=4 et

host = ('electron.server', 6667)
ssl = False

nickname = 'pybot'
username = 'pybot'
realname = 'Python IRC bot - http://git.io/M1XRlw'

autojoin = ['#pybot']

autoload_plugins = ['base', 'perms', 'plugin']
superuser = 'nick!user@example.com'

directed_triggers = True

# debug options: client, hook, plugin
debug = ['client']

# imgur plugin
imgur_client_id = ''
imgur_client_secret = ''

