undergnd:
  host: irc.jkent.net
  ssl: true

  plugins:
    base:
      nickname: pybot
      channels: ['#dev']
    perms:
      superuser: Jeff!jkent@ug-D500E72E.client.mchsi.com
    plugin:
    topic:
