undergnd:
  host: irc.jkent.net
  ssl: true

  plugins:
    anyurl:
      blacklist:
        - '^https?://(?:www\.)?github.com/[a-z0-9_-]+(?:/[a-z0-9_-]+)?/?$'
    base:
      nickname: pybot
      channels:
        - '#dev'
    github:
    perms:
      superuser: Jeff!jkent@ug-D500E72E.client.mchsi.com
    plugin:
    topic:
      min_level: 1
