[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

six = "~= 1.11"
requests = "~= 2.18"
"discord.py" = "~= 0.16"
slackclient = "~= 1.1"


[dev-packages]

